<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1 class="intro-title mb-4"><center>골목책방</center></h1>
	팀원 : 김진우 김지은 정지원  <br><br><br>

	전국 곳곳에 있는 독립 서점들의 위치 및 정보를 취합하고, 일반인들이 쉽게 접할 수 없는 독립서적에 대한 정보를 알기 쉽게 정리하여 공유한다.<br><br><br>

	의도한 기능 1 - 홈 : 해당 서비스의 이름인 '골목책방'의 이름을 보여주고, 서비스의 제공 목적을 압축적으로 정리한 '독서, 그 이상의 가치' 문구를 삽입하여 서비스에 대한 이해를 높였다.<br><br>

	의도한 기능 2 - 위치 : 서비스 하는 서점들의 목록들과 해당 서점들의 위치와 같은 서점들의 대략적인 정보를 게시한다.<br><br>

	의도한 기능 3 - 검색 데이터베이스 내의 데이터들을 위치 데이터베이스와 연동시켜 좀 더 유기적으로 페이지를 옮겨 가며 정보를 제공할 수 있도록 의도함 <br><br>

	의도한 기능 4 - 검색 : 원하는 서적 혹은 서점을 검색하여 정제된 정보를 제공한다.<br><br>

	타겟 소비자 : 독립서점을 자주 애용하는 소비자들이 주 타겟이 될 것이며, 앞으로 해당 서점들을 이용할 소비자 층을 늘려나갈 것을 지향하고 있다.<br><br><br>

	아쉬운 점 :<br><br>
	1) 커뮤니티 서비스를 구현하려고 하였으나, 역량 부족 및 시간 부족으로 인해 구현하지 못했다.<br><br>
	2) 기능간의 이동을 하기 위해서는 홈으로 돌아가서 기능별로 진입해야 하는 불편함이 있다.<br><br>
	3) 아이디어를 확정 하고 발전 시키는 과정에서 우리가 의도한 서비스가 이미 배포 되어 사용되고 있는 것을 뒤늦게 발견하여 아쉬웠다.<br><br>
	4) 위치 기능 구현시 네이버 지도와 연결시키고자 했으나 능력부족으로 구현 실패하였다.<br><br>
	5) 검색을 하면 모든 내용이 검색결과로 노출되는 문제가 존재한다.


</body>
</html>